# Loại bỏ tất cả các tệp .log
*.log

# Loại bỏ thư mục bin và obj
bin/
obj/

# Loại bỏ tệp config.ini
config.ini

# Loại bỏ tất cả các tệp .dll trong thư mục lib và thư mục con của nó
lib/**/*.dll

# Loại bỏ thư mục .vscode
.vscode/

# Loại bỏ tất cả các tệp tạm thời
*~
